html, body {
	font-size: 12px;
	line-height: 1.5em;
	font-family: 맑은 고딕,Dotum, 돋움, sans-serif;
	height:100%;
	width:100%;
}

* { margin:0;padding:0; }

p, div, th, td,input,select { 
	color: #333333;
	font-size: 12px;
	font-family: 맑은 고딕,Dotum, 돋움, sans-serif;
}
a:link, a:visited, a:active, a:hover {
  font-size: 12px;
	color: #333333;
	text-decoration: none;
}
img { border:0; }

form{margin:0px}

input{border:1px solid #bbbbbb}
/*------------------------------------------------------------------------------
Document
------------------------------------------------------------------------------*/
	/*--------------------------------------------------------------------------
	관리자화면
	--------------------------------------------------------------------------*/
	table.Woowa_Document {
		width:100%;
		height:100%;
		border:0px;
		border-spacing:0px;
	}

	/*--------------------------------------------------------------------------
	Mobile
	--------------------------------------------------------------------------*/
	table.Woowa_Mobile_Document {
		width:100%;
		border:0px;
		border-spacing:0px;
		background:#f6efe3;
	}

/*------------------------------------------------------------------------------
Header
------------------------------------------------------------------------------*/
	/*--------------------------------------------------------------------------
	관리자화면
	--------------------------------------------------------------------------*/
	table.Woowa_Document td.Woowa_HeaderWrap {
		height:100px;
		padding:0px 0px 0px 0px;
		background:#e5e5e5;
		float:left;
	}
		table.Woowa_Document td.Woowa_HeaderWrap table.Woowa_Header {
			width:100%;
			border:0px;
			border-spacing:0px;
			table-layout:fixed;
		}
			/*----------------------------------------------------------------------
			로고
			----------------------------------------------------------------------*/
			table.Woowa_Document td.Woowa_HeaderWrap table.Woowa_Header td.Woowa_HeaderTitle {
				width:300px;
				padding-left:30px;
				vertical-align:middle;
				font-size:16px;
				font-weight:bold;
			}
			/*----------------------------------------------------------------------
			로그인한 회원정보
			----------------------------------------------------------------------*/
			table.Woowa_Document td.Woowa_HeaderWrap table.Woowa_Header td.Woowa_MemberMenu {
				padding-right:20px;
				padding-bottom:5px;
				vertical-align:bottom;
				text-align:right;
			}
				table.Woowa_Document td.Woowa_HeaderWrap table.Woowa_Header td.Woowa_MemberMenu strong {
					color:#000000;
				}
				table.Woowa_Document td.Woowa_HeaderWrap table.Woowa_Header td.Woowa_MemberMenu a{
					color:#a00;
				}
			/*----------------------------------------------------------------------
			글로벌 메뉴
			----------------------------------------------------------------------*/
			table.Woowa_Document td.Woowa_HeaderWrap table.Woowa_Header td.Woowa_HeaderMenuWrap {
				padding:0px 0px 0px 0px;
				background:#fff;
			}

	/*--------------------------------------------------------------------------
	Mobile
	--------------------------------------------------------------------------*/
	table.Woowa_Mobile_Document td.Woowa_Mobile_HeaderWrap {
		height:0px;
		padding:0px 0px 0px 0px;
	}

/*------------------------------------------------------------------------------
Body
------------------------------------------------------------------------------*/
	/*--------------------------------------------------------------------------
	관리자화면
	--------------------------------------------------------------------------*/
	table.Woowa_Document td.Woowa_HFL_BodyWrap {
		padding:15px 15px 20px 15px;
		vertical-align:top;
	}
	/*--------------------------------------------------------------------------
	Mobile
	--------------------------------------------------------------------------*/
	table.Woowa_Mobile_Document td.Woowa_Mobile_BodyWrap {
		padding:0px 0px 0px 0px;
		vertical-align:top;
	}

/*------------------------------------------------------------------------------
Footer
------------------------------------------------------------------------------*/
	/*--------------------------------------------------------------------------
	관리자화면
	--------------------------------------------------------------------------*/
	table.Woowa_Document td.Woowa_FooterWrap {
		padding:3px 0 0 0px;
		color:#ccc;
		background-color:#31323a;
		text-align:center;
		border-top:solid 1px #000;
	}

	/*--------------------------------------------------------------------------
	Mobile
	--------------------------------------------------------------------------*/
	table.Woowa_Mobile_Document td.Woowa_Mobile_FooterWrap {
		height:0px;
		padding:0px 0px 0px 0px;
	}

/*------------------------------------------------------------------------------
일반화면 Contents Layout
------------------------------------------------------------------------------*/

	/*--------------------------------------------------------------------------
	페이지 타이틀
	--------------------------------------------------------------------------*/
	div.content_title {
		padding:0px 0px 5px 10px;
		font-size:14px; 
		font-weight:bold; 
		color:#0471b8; 
		background: url('../common/title_bul.gif') 0px 1px no-repeat; 
	}
	div.content_subtitle {
		color:#C21810;
		font-size:13px;
		font-weight:bold;
		padding:25px 0px 4px 5px;
	}

	div.csCaption1 {
		margin:10px 0px 0px 10px;
		text-align:left;
		padding:0px 0px 5px 13px;
		font-size:12px; 
		font-weight:bold; 
		color:#666666; 
		background: url('/g_admin/image/icon_arrow_b1.gif') no-repeat 0px 3px; 
	}
	div.csCaption2 {
		text-align:left;
		color:#0471b8; 
		font-size:13px;
		font-weight:bold;
		padding:25px 0px 4px 5px;
	}

	div.csDescription1 {
		text-align:left;
		color:#0471b8; 
		font-size:12px;
		font-weight:bold;
		padding:2px 2px 2px 2px;
	}
	span.spBlue {
		text-align:left;
		color:#0471b8; 
		font-size:12px;
		font-weight:bold;
		padding:2px 2px 2px 2px;
	}
	span.spDefault {
		text-align:left;
		color:#666666; 
		font-size:12px;
		font-weight:normal;
		padding:2px 2px 2px 2px;
	}
	/*--------------------------------------------------------------------------
	설명글
	--------------------------------------------------------------------------*/
	div.content_ex {
		padding:8px 15px 0px 10px;
		margin:10px 0px 10px 0px;
		line-height:12px;
	}
		div.content_ex ul {
			line-height:12px;
		}
			div.content_ex ul li {
				padding:3px 0px 3px 10px;
				list-style:disc inside;
			}
				div.content_ex ul li.ltype0 {
					list-style:none;
				}
				div.content_ex ul li.ltype1 {
					list-style:circle inside;
					color:#000;
				}
				div.content_ex ul li.ltype2 {
					list-style:square inside;
					color:#000;
				}
				div.content_ex ul li.subcontent1 {
					list-style:circle inside;
					color:#777;
					padding-left:40px;
				}

	/*--------------------------------------------------------------------------
	table : 화면 중간 조회/추가 등의 기능버튼
	--------------------------------------------------------------------------*/
	table.content_setinfo {
		width:100%;
	}
		table.content_setinfo td {
			padding:10px 15px 0 10px;
		}

	/*--------------------------------------------------------------------------
	div : 화면 하단의 Submit 등의 기능 버튼
	--------------------------------------------------------------------------*/
	div.content_button {
		width:100%;
		text-align:right;
		padding:20px 0 20px 0;
	}

	/*--------------------------------------------------------------------------
	div : Paging
	--------------------------------------------------------------------------*/
	div.content_paginate {
		width:100%;
		text-align:center;
		padding:10px 0 10px 0;
		font-size:11px;
	}
		div.content_paginate strong {
			font-size:13px;
			font-weight:bold;
			color:#e00;
		}
		div.content_paginate a.pagestart {
			color:#00f;
		}
		div.content_paginate a.pageend {
			color:#00f;
		}
		div.content_paginate a.pageprev10 {
			color:#33f;
		}
		div.content_paginate a.pagenext10{
			color:#33f;
		}
		div.content_paginate a.pageprev {
			color:#77f;
		}
		div.content_paginate a.pagenext {
			color:#77f;
		}
		div.content_paginate span.pagesep {
			padding:0px 5px 0px 5px;
		}

	/*--------------------------------------------------------------------------
	하이퍼 링크 버튼 스타일
	--------------------------------------------------------------------------*/
	a.css-button {
		font-size:13px;
		color:#000;
		text-decoration:none;
		display:block;
		width:50px;
		padding:10px;
		border:1px solid #DDD;
		text-align:center;

		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		border-radius:5px;

		background:#FFFFFF;
		background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
		background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);

		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}
	a.css-button:hover {
		color:#fff;
		border-color:#3278BE;

		background:#4195DD;
		background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
		background:-moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
	}
	a.css-button:active {
		background:#4195DD;
		background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
		background:-moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
	}

	a.css-button.notransitions {
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}


input.txtInput1{
	border:1px solid #aaaaaa;background:#ffffff;font-size:12px;
}