/* layout */

#wrap {position:relative;width:100%;height:100%;}
#wrap_in {position:relative;width:100%;height:100%;}
#top_img {position:relative;width:1000px;}
#mwrap {position:relative;width:990px;height:100%;margin:0 auto;}
	#mwrap div.main_div { width:990px; position:relative; z-index:10;}
#swrap {position:relative;width:1000px;height:100%;margin:0 auto;}

#topwrap { width:1000x; position:relative; height:70px;}  /*top GNB*/
 #topwrap div.top_div{ position:absolute; z-index:10; left:0px; top:0px;}
#mfla { position:relative; width:990px;  height:483px;z-index:10;}

#mcontents {position:relative; width: 990px; z-index:11;}
 #mcontents div.main_left { position:relative; float:left;width:292px; top:-40px; padding-left:40px; padding-top:10px; }
 #mcontents div.main_mdl { position:relative; float:left;width:274px; top:-50px;padding-left:32px; }
 #mcontents div.main_right { position:relative; float:right; width:278px; top:-25px; text-align:right;}

#mcontents2 { clear:both; position:relative; width: 990px; top:-25px; z-index:12;}
 #mcontents2 div.main_left { position:relative; float:left;width:200px; top:0px; padding-left:20px;}
 #mcontents2 div.main_mdl { position:relative; float:left;width:155px; top:0px; padding-left:16px; }
 #mcontents2 div.main_mdl2 { position:relative; float:left;width:138px; top:0px; padding-left:20px; }
 #mcontents2 div.main_right { position:relative; float:right; width:421px; top:0px;}
 
 #mcontents2 div.main_mdl3 { position:relative; float:left;width:176px; top:0px; padding-left:16px; }
  #mcontents2 div.main_mdl4 { position:relative; float:left;width:155px; top:0px; padding-left:12px; } /* 진료시간안내  */
 #mcontents2 div.main_right2 { position:relative; float:right; width:244px; top:0px;}


#sfla1 { position:relative; width:1000px; height:211px; z-index:10;} 

#bodyCon { position:relative; width:1000px; z-index:12; }
#bodyCon div.sleft {position:relative; float:left; width:190px;height:425px; top:0px; background: url(../../../../_%EC%84%9C%EA%B0%95%EC%95%BD%EC%86%90%ED%95%9C%EC%9D%98%EC%9B%90/images/common/leme_bg01.jpg) no-repeat right 0px;}
#bodyCon div.scenter {position:relative;float:left; width:650px; padding:0px 0px 30px 40px; background: url(../../../../_%EC%84%9C%EA%B0%95%EC%95%BD%EC%86%90%ED%95%9C%EC%9D%98%EC%9B%90/images/common/sub_left_img01.gif) no-repeat;}
#bodyCon div.sright {position:relative; float:right; width:90px; }	

#footer_wrap { clear:both; width:100%; background: url(../../../../_%EC%84%9C%EA%B0%95%EC%95%BD%EC%86%90%ED%95%9C%EC%9D%98%EC%9B%90/images/common/cmn_img08.gif) repeat-x  ;}	
#footer { clear:both; width:990px; top:-25px; }
#footer_sub { clear:both; width:980px; padding-top:30px; margin:0 auto;}


	
	
