<form method="post">
<link rel="stylesheet" type="text/css" href="/datetimepicker/jquery.datetimepicker.css"/>
<p>Start <input id="date_timepicker_start" type="text" value="" />  End <input id="date_timepicker_end" type="text" value="" /></p>
<script src="/datetimepicker/jquery.js"></script>
<script src="/datetimepicker/jquery.datetimepicker.js"></script>
<script>
jQuery(function(){
 jQuery('#date_timepicker_start').datetimepicker({
  format:'Y-m-d',
  onShow:function( ct ){
   this.setOptions({
    maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
   })
  },
  timepicker:false
 });
 jQuery('#date_timepicker_end').datetimepicker({
  format:'Y-m-d',
  onShow:function( ct ){
   this.setOptions({
    minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
   })
  },
  timepicker:false
 });
});
</script>
</form>

