// Brekpoints

@mixin break($name) {
	@if $name == small {
		@media (max-width: 380px) { @content; }
	} @else if $name == phone {
		@media (max-width: 599px) { @content; }
	} @else if $name == portrait {
		@media (max-width: 600px) { @content; }
	} @else if $name == landscape {
		@media (max-width: 1024px) { @content; }
	} @else if $name == desktop {
		@media (max-width: 1200px) { @content; }
	} @else if $name == huge {
		@media (max-width: 1800px) { @content; }
	}
}

#mobilemenu {
	display: none;
	position: fixed;
	top: 0;
	right: -300px;
	background-color: #2a2a2a;
	width: 100%;
	max-width: 300px;
	height: 100%;
	box-shadow: 0 0 3px rgba(42,42,42,0.1);
	display: block;
	z-Index: 10;
	transition: .5s;
	display: none;

	@include break(landscape) {
		display: block;
	}

	&.active {
		right: 0;
	}

	a{
		text-decoration: none;
		&:active,
		&:hover{
			text-decoration: none;
		}
	}
	
	.mobilemenu-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		
		// TRIGGER

		.mobilemenu-trigger {
			position: fixed;
			top: 0;
			right: 0;
			width: 60px;
			height: 59px;
			line-height: 59px;
			z-Index: 2;
			cursor: pointer;
			background-color: #000;
			button {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: none;
				appearance: none;
				span.box {
					display: block;
					position: absolute;
					width: 26px;
					height: 26px;
					margin: auto;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					cursor: pointer;
					transition: .3s;
					span.bar {
						right: 0;
						width: 100%;
						height: 3px;
						background-color: #c59b6a;
						position: absolute;
						transition: .5s;
						border-radius: 3px;
						&.top {
							top: 4px;
						}
						&.middle {
							top: 50%;
							margin: -1px 0 0;
						}
						&.bottom {
							bottom: 3px;
						}
					}
				}
				&.active span.box span.bar {
					width: 100% !important;
					background-color: #fff;
					&.top {
						transform: rotate(45deg) translate(8px,7px);
						top: 0;
					}
					&.middle {
						opacity: 0;
					}
					&.bottom {
						transform: rotate(-45deg) translate(8px,-7px);
						bottom: 2px;
					}
				}
			}
		}

		// LOGO

		.logo{
			background-color: white;
			padding: 70px 30px 20px;
			img{
				width: 100%;
			}
		}

		// MOBILE VIEW

		.mobilemenu-view {
			position: relative;
			z-Index: 1;
		}

		.menu {
		  overflow: hidden;
		  width: 100%;
		  //border-bottom: 1px solid rgba(204, 204, 204, 0.5);
		  overflow: hidden;
		  ul {
		    margin: 0;
		    padding: 0;
		    li {
		      border-top: 1px solid rgba(204, 204, 204, 0.1);
		      position: relative;
		      
		      a {
		        display: block;
		        padding: 15px 20px;
		        color: #253e85;
		        font-size: 13px;
		        line-height: 1.5;
		        text-transform: uppercase;
		        color: white;
		      }

					.accordion-btn{
						background-color: #000;
						i{
							font-size: 17px;
							color: white;
						}
					}

		      ul li {
		        a {
		          padding: 10px 20px;
		          padding-left: 40px;
		          background-color: rgba(27, 45, 84, 0.1) !important;
		          color: white !important;
		        }
		        &.menu-item-has-children:after {
		          position: absolute;
		          right: 20px;
		          top: 10px !important;
		          content: "\f107";
		          font-family: FontAwesome;
		          color: #253e85 !important;
		        }
		        &.current-menu-item a, 
		        &.current_page_parent a, 
		        &.current_page_ancestor a {
		          color: #253e85;
		        }
		        ul li a {
		          padding-left: 60px;
		        }
		      }
		    }
		  }
		}
	}
}