/* Iconfont made with icomoon.com */
 a:link { color: inherit; text-decoration: none; }
 a:visited { color: inherit; text-decoration: none; }
 a:hover { color: inherit; text-decoration: none; }

.container { width:100%; margin:0px auto; 	z-index: 99999;
}
@font-face {
	font-family: 'cbp-tmicons';
	src:url('../fonts/tmicons/cbp-tmicons.eot');
	src:url('../fonts/tmicons/cbp-tmicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/tmicons/cbp-tmicons.woff') format('woff'),
		url('../fonts/tmicons/cbp-tmicons.ttf') format('truetype'),
		url('../fonts/tmicons/cbp-tmicons.svg#cbp-tmicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* reset  list style */
.cbp-tm-menu,
.cbp-tm-menu ul {
	font-family: "Montserrat", sans-serif;
	list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
	float:left;
	text-align:center;
	display: block;
	z-index: 99998;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
	background-color:#ffffff;
}

/* first level menu items */
.cbp-tm-menu > li {
	z-index: 99998;
	display: inline-block;
	position: relative;
	padding-left:30px;
	text-align:left;
}

.cbp-tm-menu > li > a {
	line-height: 4em;
	padding: 0 1.0em;
	font-size: 0.9em;
	display: block;
	color:#000000;
}
.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
	color: #aaaaaa; 
}

/* sumbenu with transitions */
.cbp-tm-submenu {
font-weight:bold;
	/*border: 1px solid #cccccc;*/
	font-size:13px;
	line-height:35px;
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	text-align: left;
	pointer-events: none;
	-webkit-transition: visibility 0s, opacity 0s;
	-moz-transition: visibility 0s, opacity 0s;
	transition: visibility 0s, opacity 0s;
}

.cbp-tm-show .cbp-tm-submenu {
	width: 16em;
	left: 50%;
	margin: 0 0 0 -8em;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transition: visibility 0s, opacity 0.3s;
	-moz-transition: visibility 0s, opacity 0.3s;
	transition: visibility 0s, opacity 0.3s;
}

.cbp-tm-show-above .cbp-tm-submenu {
	bottom: 100%;
	padding-bottom: 10px;
}

.cbp-tm-show-below .cbp-tm-submenu {
	top: 100%;
	padding-top: 10px;
}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
	right: 0;
	left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
	left: 0;
}

/* last menu item has to fit on the screen */
.cbp-tm-menu > li:last-child .cbp-tm-submenu {
	right: 0;
}

/* 	
arrow: depending on where the menu will be shown, we set 
the right position for the arrow
*/

.cbp-tm-submenu:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	top: 100%;
	margin-top: -10px;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	bottom: 100%;
	margin-bottom: -10px;
}

.cbp-tm-submenu:after {
	border-color: transparent;
	border-width: 16px;
	margin-left: 0;
	left: 50%;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	border-top-color: #e2e2e2;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	border-bottom-color: #e2e2e2;
}

.cbp-tm-submenu > li {
	display: block;
	background: #e2e2e2;
}

.cbp-tm-submenu > li > a {
	font-family: "Montserrat", sans-serif;
	padding: 5px 0.3em 5px 0.6em; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
	display: block;
	font-size: 0.9em;
	position: relative;
	color: #1c739c;
	border: 1px solid #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
	color: #fff;
	/* background: #47a3da; */
	background:linear-gradient(80deg, #32c7cb, #fcfcfc); 
	-webkit-radial-gradient(-180deg, #32c7cb, #fcfcfc);
	-moz-radial-gradient(-180deg, #32c7cb, #fcfcfc);
	-ms-radial-gradient(-180deg, #32c7cb, #fcfcfc);

}

/* the icons (main level menu icon and sublevel icons) */
.cbp-tm-submenu li a:before,
.cbp-tm-menu > li > a:before {
	font-family: 'cbp-tmicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}

.cbp-tm-submenu li a:before {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	right: 0.5em;
}

.cbp-tm-menu > li > a:not(:only-child):before {
	content: "\f0c9";
	font-size: 60%;
	opacity: 0.3;
}

.cbp-tm-icon-archive:before {
	content: "\e002";
}

.cbp-tm-icon-cog:before {
	content: "\e003";
}

.cbp-tm-icon-users:before {
	content: "\e004";
}

.cbp-tm-icon-earth:before {
	content: "\e005";
}

.cbp-tm-icon-location:before {
	content: "\e006";
}

.cbp-tm-icon-mobile:before {
	content: "\e007";
}

.cbp-tm-icon-screen:before {
	content: "\e008";
}

.cbp-tm-icon-mail:before {
	content: "\e009";
}

.cbp-tm-icon-contract:before {
	content: "\e00a";
}

.cbp-tm-icon-pencil:before {
	content: "\e00b";
}

.cbp-tm-icon-article:before {
	content: "\e00c";
}

.cbp-tm-icon-clock:before {
	content: "\e00d";
}

.cbp-tm-icon-videos:before {
	content: "\e00e";
}

.cbp-tm-icon-pictures:before {
	content: "\e00f";
}

.cbp-tm-icon-link:before {
	content: "\e010";
}

.cbp-tm-icon-refresh:before {
	content: "\e011";
}

.cbp-tm-icon-help:before {
	content: "\e012";
}

/* Media Queries */

@media screen and (max-width: 44.3125em) {



	.cbp-tm-menu {
		z-index:1000;
		width:100%;
		font-size: 100%;
		position: relative;
		text-align: center;
		padding: 0;
		top: auto;
		text-transform: capitalize;
		background:linear-gradient(-190deg, #99cecd, #ffffff, #99cecd);
		background:linear-gradient(80deg, #99cecd, #ffffff, #99cecd);
		-webkit-radial-gradient(-190deg, #99cecd, #ffffff, #99cecd);
		-webkit-radial-gradient(80deg, #99cecd, #ffffff, #99cecd);
		-moz-radial-gradient(-190deg, #99cecd, #ffffff, #99cecd);
		-moz-radial-gradient(80deg, #99cecd, #ffffff, #99cecd);
		-ms-radial-gradient(-190deg, #99cecd, #ffffff, #99cecd);
		-ms-radial-gradient(80deg, #99cecd, #ffffff, #99cecd);
	}

	.cbp-tm-menu > li {
		display: block;
		margin: 0;
		border-bottom: 1px solid #99cecd;
	}

	.cbp-tm-menu > li:first-child {
		border-top: 1px solid #99cecd;
	}

	li.cbp-tm-show > a,
	.no-touch .cbp-tm-menu > li > a:hover,
	.no-touch .cbp-tm-menu > li > a:active {
		color: #fff;
		background:linear-gradient(100deg, #99cecd, #fcfcfc);
		-webkit-radial-gradient(-180deg, #99cecd, #fcfcfc);
		-moz-radial-gradient(-180deg, #99cecd, #fcfcfc);
		-ms-radial-gradient(-180deg, #99cecd, #fcfcfc);
	}

	.cbp-tm-submenu {
		position: relative;
		display: none;
		width: 100%;
	}

	.cbp-tm-submenu > li {
		padding: 0;
	}

	.cbp-tm-submenu > li > a {
		padding: 0.6em 0.3em 0.6em 0.6em;
		border: none;
		border-bottom: 1px solid #6fbbe9;
	}

	.cbp-tm-submenu:after {
		display: none;
	}

	.cbp-tm-menu .cbp-tm-show .cbp-tm-submenu {
		display: block;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
	}

}
