@charset "utf-8";


* { -webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;-webkit-touch-callout:none; }
a, input, button { -ms-touch-action:none; }
input,textarea { -webkit-appearance:none; }
img, object, embed, video { max-width:100%; }
/* Basic START */
html, body {}
body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table {font:normal 13px/1.5 Sans-serif; color:#555; }
html, body, div, form, input, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption { margin:0; padding:0; }
ol, ul, li { list-style:none; }
img, fieldset { border:0 none;}
input, select, textarea { vertical-align:middle; resize:none; position:relative; }
input, textarea { -webkit-appearance:none; -webkit-border-radius:0; }
input[type="checkbox"] { -webkit-appearance:checkbox; }
input[type="radio"] { -webkit-appearance:radio; -webkit-border-radius:10px; }
button { border:0 none; background:transparent; cursor:pointer; }
hr { display:none; }
legend, .skip { width:0; height:0; visibility:hidden; font-size:0; line-height:0; position:absolute; top:0; left:0; overflow:hidden; }
table caption { width:0; height:0; visibility:hidden; text-indent:-9999px; font-size:0; line-height:0; }
table { border-collapse:collapse; border-spacing:0; }
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display:block; }
a {color:inherit; text-decoration:none; }
address {font-style:normal;}
img, object, embed, iframe { max-width: 100%; }
img, iframe { height: auto; }

/* Basic END */

/*skipNavigation*/
#skipNavi a {display:block; position:absolute; left:0; top:-5000px; width:0; height:0; text-align:center; color:#fff; z-index:999;}
#skipNavi a:hover, #skipNavi a:focus, #skipNavi a:active {top:0; width:100%; height:auto; padding:5px; background:#000 !important; color:#fff !important; font-weight:bold; border:1px solid #ddd; display:block;}


/* input */
input[type="text"], input[type="password"] { width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box; }
input.gray {background:#f0f0f0}
input[type="submit"] {cursor:pointer;}
input[type="radio"], input[type="checkbox"] {width:16px; height:16px; vertical-align:middle;}
textarea {padding:3px; border:1px solid #c7c7c7; vertical-align:middle;}
textarea.gray {padding:3px; border:1px solid #c7c7c7; vertical-align:middle; background:#f0f0f0}
select {padding:6px 6px 5px 6px; border:1px solid #c7c7c7;}


/* 공통 */
.b {font-weight:bold !important;}
.nf {font-weight:normal !important;}
.bk{display:block;}
.nbt {border-top:none !important;}
.nbr {border-right:none !important;}
.nbb {border-bottom:none !important;}
.nbl {border-left:none !important;}

/*정렬클래스*/
.of {overflow:hidden !important; width:100%;}
.fl {float:left !important;}
.fr {float:right !important;} 
.cl {clear:both !important;}
.al {text-align:left !important;}
.ar {text-align:right !important;}
.ac {text-align:center !important;}
.at {vertical-align:top !important;}
.am {vertical-align:middle !important;}
.ab {vertical-align:bottom !important;}
.dis_b {display:block;}
.dis_n {display:none;}


/*마진,패딩 클래스*/
.mt0 {margin-top:0 !important;}
.mt05{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}

.mb0{margin-bottom:0px !important;}
.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb37{margin-bottom:37px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb55{margin-bottom:55px !important;}

.ml0 {margin-left:0 !important;}
.ml05{margin-left:5px !important;}
.ml06{margin-left:6px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}
.ml55{margin-left:55px !important;}
.ml65{margin-left:65px !important;}

.mr0 {margin-right:0 !important;}
.mr05{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}

.pt0 {padding-top:0 !important;}
.pt05{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt60{padding-top:60px !important;}

.pb0 {padding-bottom:0 !important;}
.pb05{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}

.pl0 {padding-left:0px !important;}
.pl05 {padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}
.pl55{padding-left:55px !important;}
.pl60{padding-left:60px !important;}
.pl65{padding-left:65px !important;}
.pl70{padding-left:70px !important;}
.pl75{padding-left:75px !important;}
.pl85{padding-left:85px !important;}
.pl95{padding-left:95px !important;}

.pr0 {padding-right:0 !important;}
.pr05 {padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}