/*------------ Color Palette ------------*/
/*
LIGHT ORANGE: #e4644b
DARK ORANGE: #d05942
DARK BROWN: #484141
Menu text: #f7f1e3
Submenu text: #ae9f9f
*/

/*------------ General Settings ------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

ul {
    font-family: "Montserrat", sans-serif;
    list-style: none;
}
li {
	cursor:pointer;
}

 a:link { color: inherit; text-decoration: none; }
 a:visited { color: inherit; text-decoration: none; }
 a:hover { color: inherit; text-decoration: none; }

/*------------ Main Menu ------------*/
.mainmenu {
    font-size: 16px;
    position: relative;
    margin: 0px auto;
    padding: 0;
}

.mainmenu > li {
    margin: 2px auto;
    box-sizing: border-box;
    height: 48px;
    color: #f7f1e3;
    border-top: 1px solid #2aa4a5;
	background-color: #2aa4a5;
}

.mainmenu > li:first-child {
    border-top: 0;
    border-radius: 12px 12px 0 0;
}

.mainmenu > li:last-child {
    border-radius: 0 0 12px 12px;
}

.mainmenu > li span {
    line-height: 48px;
    display: block;
}

.mainmenu > li .icon {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    padding: 15px 15px 0 15px;
}

.mainmenu > li .messages {
    font-size: 11px;
    line-height: 19px;
    display: block;
    float: right;
    width: 34px;
    height: 18px;
    margin-top: -33px;
    margin-right: 19px;
    padding: 0;
    text-align: center;
    background: url("/a_menu/images/messages.png") no-repeat;
}

.expand-triangle {
    width: 100%;
    height: 10px;
	margin-top:-2px;
    content: " ";
    background-color: #484141;
}

.expand-triangle img {
    width: inherit;
    height: inherit;
    margin-left: -40px;
    vertical-align: top;
}

/*------------ Sub Menu ------------*/
.submenu {
    font-size: 13px;
    box-sizing: border-box;
    content: " ";
    color: #FFFFFF;
}

.submenu li {
    line-height: 20px;
    height: 35px;
    margin-left: -40px;
    padding-top: 11px;
    transition: border-left 220ms ease-in;
    border-left: solid 6px #484141;
    background-color: #484141;
}

.submenu .chosen,
.submenu .chosen:hover {
    border-left: solid 6px #96d145;
}

.submenu li:hover {
   /* border-left: solid 6px #d05942; */
    border-left: solid 6px #2aa4a5;

}

.submenu li span {
    margin-left: 30px;
}


@media (min-width: 768px) {
/*------------ Main Menu ------------*/
.mainmenu {
	float:left;
	width:100%;
    font-size: 16px;
    position: relative;
    padding: 0;
	
}

.mainmenu > li {
	float:left;
    margin: 0;
	width:145px;
    height: 48px;
    color: #f7f1e3;
    border-top: 1px solid #2aa4a5;
	background-color: #2aa4a5;
}

.mainmenu > li:first-child {
    border-top: 0;
    border-radius: 12px 0 0 12px;
}

.mainmenu > li:last-child {
    border-radius: 0 12px 12px 0;
}

.mainmenu > li span {
    line-height: 48px;
    display: block;
}

.mainmenu > li .icon {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    padding: 15px 15px 0 15px;
}


.expand-triangle {
    width: 100%;
    height: 10px;
    content: " ";
    background-color: #484141;
}

.expand-triangle img {
    margin-top: 48px;
    vertical-align: left;
}

/*------------ Sub Menu ------------*/
.submenu {
    font-size: 13px;
    content: " ";
    color: #FFFFFF;
}

.submenu li {
    line-height: 20px;
    margin-left: -40px;
    padding-top: 11px;
    border-left: solid 6px #484141;
    background-color: #484141;
}

.submenu .chosen,
.submenu .chosen:hover {
    border-left: solid 6px #96d145;
}

.submenu li:hover {
   /* border-left: solid 6px #d05942; */
    border-left: solid 6px #2aa4a5;

}

.submenu li span {
    margin-left: 30px;
}


