<script type="text/javascript">
$(function(){
    
	$("#download_btn").click(function(e){		
		location.replace("intent://webapp/?billnum=12852000116083#Intent;scheme=happyapart;package=com.webapps.happyapartment;end");		
		//event.preventDefault();
	 });
	 
})
</script>

<!-- header -->
<div class="modal-header" style="background-color:#87cefa">
    <!-- 닫기(x) 버튼 -->
  <button type="button" class="close" data-dismiss="modal">×</button>
  <!-- header title -->
  <h4 class="modal-title">모바일결제사인</h4>
</div>
<!-- body -->
<div class="modal-body">
    <h4 class="modal-title">모바일결제사인앱을 실행합니다.<br>확인을 누르세요!</h4>
</div>
<!-- Footer -->
<div class="modal-footer">    
  <button type="button" class="download" id="download_btn" data-dismiss="modal"><h4 class="modal-title" >확인</h4></button>
</div>
